<!DOCTYPE html>
<html>
    <head>
        <title> Order History </title>
        <link href="../static/styles.css" rel="stylesheet"type="text/css" />
        <style>
            .div_history {
              border: 5px outset #115097;
              background-color: whitesmoke;
              width: 50%;  
              height: 70%;
              text-align: left;
            }
        </style>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="/tab/home" >Home</a>
            <a href="/tab/about">About</a>
            {%if user == None%} <a href="/tab/login">Login</a> {% endif %}
            {%if user != None%} <a href="/tab/login">Welcome, {{user['name']|title}}!  Account Balance: ${{user['balance']}}</a> 
            <a href="/tab/history" class="active">Order History</a>
            {%endif%}
            <div align="right" height = "100%" padding-left="20%">
              <form action="/search" method="POST">
                <input type="submit" value = "Search">
                <input type="search" id = "search" name = "search" placeholder="Search name or category" autofocus>
              </form>
            </div>
        </div>
        <br>
        <br>
        <div align = "middle">
            <div class="div_history">
                <h2>Order history for {{user['name']|title}}:</h2>
                <h3> Your current account balance is: ${{user['balance']}}</h3>
                <h4> Your transactions: </h4> 
                <p> (Sorted by: <a href='/sortASC'>Newest to Oldest</a> | <a href='/sortDESC'>Oldest to Newest</a>)</p>
                <form action="/ordersearch" method="POST">
                    <input type="search" id = "search" name = "search" placeholder="Search order history" autofocus>
                    <input type="submit" value = "Search">
                </form>
                <ul>
                    {%for tran in transactions%}
                        <li> On {{tran['date']}}, you {%if tran['quantity'] > 0%}bought{%endif%}{%if tran['quantity'] < 0%}sold{%endif%} {{tran['quantity']}} shares of {{tran['ticker_id']}}</li>
                    {%endfor%}
                </ul>
                
                <h4> Your current holdings: </h4>
                <ul>
                    {%for holding in holdings%}
                        {%if holding[1] != 0%}
                            <li> {{holding[0]}} : {{holding[1]}} shares</li>
                        {%endif%}
                    {%endfor%}
                </ul>
            </div>
            <br>
            <a href="/"> Back to homepage </a>
        </div>
        
    </body>
</html>