<html>
   <head>
      <title> Leo's Stock Exchange (LSE) </title>
      <link href="../static/styles.css" rel="stylesheet"type="text/css" />
      <link rel="icon" type="image/x-icon" href="../static/icon.png">
   </head>
   <body>

      <!-- center everything -->
      <div class="main" align="middle">
        
        <div class="topnav" id="myTopnav">
          <a href="/tab/home" class="active">Home</a>
          <a href="/tab/login">Login</a>
          <a href="/tab/about">About</a>
          <div align="right" height = "100%" padding-left="20%">
            <form action="/search" method="POST">
              <input type="submit" value = "Search">
              <input type="search" id = "search" name = "search" placeholder="Search name or category" autofocus>
            </form>
          </div>
        </div>
        <!-- <h1> Leo's Stock Exchange (LSE) </h1> -->
        <img src="../static/logo.png" alt="LSE logo", height="30%" weight="30%">
        </br>
        </br>
        <table style="width:100%">
          <tr>
            {%for product in products %}
              <td>
                <div class="sub_main" align="middle">
                  <h3> {{product["name"]}} </h3> </br>
                  <img src="../static/photos/{{product["ticket"]}}.png" alt="{{product["name"]}}" width="100" height="100"> </br>
                  <h3> ${{product["price"]}} </h3>

                  <form action="/ticket/{{product["ticket"]}}" method="POST">
                    <!-- <button type="submit" class="buy_button" value="BUY">BUY</button> -->
                    <!-- <button type="submit" class="sell_button" value="SELL">SELL</button> -->
                    <button type="submit" class="trade_button" value="TRADE">TRADE {{product["ticket"]}}</button>
                  </form>
                </div>
              </td>
            {%endfor%}
          <tr>
        </table>
      </div>
   </body>
</html>