<!DOCTYPE html>
<html>
    <head>
        <title> Leo's Stock Exchange </title>
        <link href="../static/styles.css" rel="stylesheet"type="text/css" />
    </head>
    <body>
        <!-- <div class="topnav" id="myTopnav">
            <a href="/tab/home">Home</a>
            <a href="/tab/login" class="active">Login</a>
            <a href="/tab/about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>

        </br> -->

            <form class="login-form" action="./" method="POST">
                <div class="login-form__logo-container">
                    <img class="login-form__logo" src="https://via.placeholder.com/350x150" alt="Logo">
                </div>
                <div class="login-form__content">
                    <div class="login-form__header">Login to your account</div>
                    <input class="login-form__input" type="text" name="dc_username" placeholder="Username">
                    <input class="login-form__input" type="password" name="dc_username" placeholder="Password">
                    <button class="login-form__button" type="submit">Login</button>
                    <div class="login-form__links">
                        <a class="login-form__link" href="./">Forgot your password?</a>
                    </div>
                </div>
            </form>

        </div>
    </body>
</html>