<html>
    <head>
        <title> Product: {{product}} </title>
    </head>
    <body>
        <img src="../static/photos/{{product}}.png" alt="{{product["name"]}}" width="100" height="100"> </br>
    </body>
</html>

<html>
    <head>
        <title> Leo's Stock Exchange </title>
        <link href="../static/styles.css" rel="stylesheet"type="text/css" />
    </head>
    <body>
        <!-- center everything -->
        <div class="main" align="middle">

        <h1> Leo's Stock Exchange </h1>
        </div>
    </body>
</html>